.wordbox {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 80vw;
}

.correct {
  background-color: #71e6f5;
}

.wrong {
  background-color: #ffeb3b;
  text-decoration: line-through;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

body {
  font-size: 18px;
  font-family: Verdana;
}
