<h1>Some random movies</h1>

<table class="table table-striped table-bordered">
  <!-- YOUR CODE HERE -->
  <!-- Below this line is example data, delete it -->
  {{#each data}}
  <tr>

    {{#if @first}}
    {{#each this}}
    <th>
      {{this}}
    </th>
    {{/each}}
    {{/if}}

    {{#unless @first}}
    {{#each this}}
    <td>
      {{this}}
    </td>
    {{/each}}
    {{/unless}}

  </tr>
  {{/each}}
</table>
