<h1>Some random movies</h1>

<table class="table table-striped table-bordered">
  <!-- YOUR CODE HERE -->

  {{#each data}}
  <tr>
    {{if @index}} <!--@index references the first row (0)-->
      {{#each this}}
      <td>
        {{this}}
      </td>
      {{/each}}
        {{else}}
      {{#each this}}
      <th>
        {{this}}
      </th>
      {{/each}}
      {{/if}}
  </tr>
  {{/each}}
</table>
