<h1>Some random movies</h1>

<table class="table table-striped table-bordered">
  {{#each data}}
    <tr>
      {{#if 0index}}
        {{#each this}}
          <th>
            {{this}}
          </th>
        {{/each}}
      {{else}}
        {{#each this}}
          <td>
            {{this}}
          </td>
        {{/each}}
      {{/if}}
    </tr>
  {{/each}}
</table>
